<section id="home">
<!-- Header Section -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message-header">
						<!--<h1>{{ site.title }}</h1>-->
						<!--<h3>{{ page.subTitle }}</h3>-->
                        <img src="img/logo_mulleres_tech/mono_negativo.png" style="max-width: 80%;" />
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/{{ site.twitter_account }}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">TWITTER</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/{{ site.github_account }}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">GITHUB</span></a>
                            </li>
                            <li>
                                <a href="mailto:{{ site.email }}" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">E-MAIL</span></a>
                            </li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
